include ./_model/_index.pug
// footer
footer#ft.l-ft
  div.p-ft
    canvas.p-ft__cvs(width="960",height="38")
    div.p-ft__pankuzu
      ul.p-ft__pankuzu__unit
        li.p-ft__pankuzu__unitlist
          a.p-ft__pankuzu__unitlist
            span.p-ft__pankuzu__unitlist--active トップページ
    nav.p-ft__nav
      each footerlist in footer
        each menulist in footerlist.menu
          dl.p-ft__nav__menu
            dt.p-ft__nav__menulist.p-ft__nav__menulist--top
              a.p-ft__nav__menulink(href=menulist.url) #{(menulist.text)}
            if menulist.child
              each value,i in menulist.child
                dd.p-ft__nav__menulist
                  a.p-ft__nav__menulink(href=value.url) #{(value.text)}
    aside.p-ft__notice
      ul.p-ft__notice__box
        each footerlist in footer
          each noticelist in footerlist.notice
            if noticelist.child
            li.p-ft__notice__boxlist
              a.p-ft__notice__boxlink(href=noticelist.url) #{(noticelist.text)}
    div.p-ft__isms
      img.p-ft__isms__icon(src="/img/isms.png", alt="isms")
