header#js-header.l-header
  div.md-head__box
    span.md-head__lang JA/
      a(href="#") EN
    a.md-side__menu(href="javascript:void(0);")
      - for (var i = 0; i < 3; i++)
        span.md-side__menulist
    h1.md-head__title
      a(href="/")
        img(src="/img/logo-il.png",alt="Interlink")
    address.md-head__tel 〒102-0073東京都千代田区九段北4-1-3飛栄九段北ビル7F<br>お電話:03-3234-3311
    nav.md-head__menu
      div.md-btn--close
        a(href="javascript:void(0);",class="md-btn--close__box")
          - for (var i = 0; i < 2; i++)
            div.md-btn--close__line
      ul.md-head__menubox
        li.md-head__menulist.pc-none
          a(href="/information/") 元気なお知らせ
        li.md-head__menulist
          a(href="/service/") できること
          ul
            -
              var service = [
                {
                  'url':'/service/ourstyle/',
                  'text':'インターリンクはこう仕事します'
                },
                {
                  'url':'/service/consultant/',
                  'text':'速いWebコンサルティング'
                },
                {
                  'url':'/service/outsourcing/',
                  'text':'うまい常駐サービス'
                },
                {
                  'url':'/service/development/',
                  'text':'遠足のようなシステムサービス'
                }
              ]
            each item in service
              li
                a(href=item.url) #{item.text}
        li.md-head__menulist
          a(href="/work/") やったこと
          ul
            -
              var menulist = [
                {
                  'url':'/work/#anc-app',
                  'text':'自社サービス'
                },
                {
                  'url':'/work/#anc-web',
                  'text':'受託制作'
                }
              ]
            each menu in menulist
              li
                a(href=menu.url) #{menu.text}
        li.md-head__menulist
          a(href="/ourinfo/") わたしたちについて
          ul
            -
              var menulist = [
                {
                  'url':'https://www.tonty.net/',
                  'text':'DIY特化型SNS「Tonty（トンティ）」リリースのお知らせ'
                },
                {
                  'url':'/lp/intara_saru/',
                  'text':'インタラ部始動!!'
                },
                {
                  'url':'/ourinfo/#anc-summary',
                  'text':'元気な会社の概要'
                },
                {
                  'url':'/ourinfo/#anc-trading',
                  'text':'主要取引先'
                },
                {
                  'url':'/ourinfo/#anc-history',
                  'text':'元気な会社のなりたち'
                },
                {
                  'url':'/ourinfo/#anc-message',
                  'text':'経営者からのメッセージ'
                },
                {
                  'url':'/ourinfo/#anc-whatil',
                  'text':'インターリンクとは？'
                }
              ]
            each menu in menulist
              li
                a(href=menu.url) #{menu.text}
        li.md-head__menulist
          a(href="/contact/") お問い合わせ
